#common-button {

    .btn {
        display: inline-block;
        border: none;
        text-decoration: none;
        cursor: pointer;
        padding: 10px 20px;
        margin: 0;
        background-color: #00A0FF;
        color: #fff;
        border-radius: 5px;
        font-size: 30px;
    }
}