.tzr-common-roundbutton {
    display: inline-block;

    .btn {
        border: none;
        text-decoration: none;
        cursor: pointer;
        padding: 10px 20px;
        margin: 0;
        background-color: #00a0ff;
        color: #fff;
        border-radius: 20px;
        font-size: 30px;
    }
}
